server:
  port: 9091

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: spring
    password: springpw
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect